header {
    width: 100%;
    height: 100px;
    background-color: #eee;
    border: 1px solid #000;
    @include bewtween();

    .logo {
        width: 30%;
        // @include center();
        display: flex;
        justify-content: flex-end;

        h1 {
            font-size: 30px;
            text-transform: uppercase;
        }
    }

    nav {
        width: 70%;

        ul {
            width: 100%;
            @include around();

        }
    }

}